<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <style type="text/css">
        #map_v3 {
            height:900px;
            margin:0 auto;
            max-width:100%;
            width:1100px;
        }
        div#img-con {
        transform: rotate(268deg);
        left: 220px;
        width: 700px;
        top: 150px;
        position: absolute;
        }
        img#hu-img {
        opacity: 0.4;
        }
    </style>
</head>
<body>
    <h1>사용자 정의 오버레이 표시하기</h1>


    <!-- <img src="./care.gif" style="width: 120px; height:130px"> -->
    <div id="map_v3"></div>
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=5eidkfj0b9"></script>
    <script>
    $(function(){
        console.log("로그");
        var CustomOverlay = function(options) {
        this._element = $('<div id="img-con" >' +
                         '<img id="hu-img" src="/static/images/9901001001_5F.png" style="width: 105%;" >' +
                        '</div>')

        this.setPosition(options.position);
        this.setMap(options.map || null);
        };

        CustomOverlay.prototype = new naver.maps.OverlayView();
        CustomOverlay.prototype.constructor = CustomOverlay;

        CustomOverlay.prototype.setPosition = function(position) {
            this._position = position;
            this.draw();
        };

        CustomOverlay.prototype.getPosition = function() {
            return this._position;
        };

        CustomOverlay.prototype.onAdd = function() {
            var overlayLayer = this.getPanes().overlayLayer;

            this._element.appendTo(overlayLayer);
        };

        CustomOverlay.prototype.draw = function() {
            if (!this.getMap()) {
                return;
            }

            var projection = this.getProjection(),
                position = this.getPosition(),
                pixelPosition = projection.fromCoordToOffset(position);

            // this._element.css('left', pixelPosition.x);
            // this._element.css('top', pixelPosition.y);
        };

        CustomOverlay.prototype.onRemove = function() {
            var overlayLayer = this.getPanes().overlayLayer;

            this._element.remove();
            this._element.off();
        };

        var position = new naver.maps.LatLng(37.489107, 127.031398);
        var map = new naver.maps.Map("map_v3", {
            center: position,
            zoom: 24
        });
        var overlay = new CustomOverlay({
            map: map,
            position: position
        });

        // naver.maps.Event.addListener(map, 'click', function(e) { //클릭한 위치에 오버레이를 추가합니다.
        //     var overlay = new CustomOverlay({
        //         position: e.coord
        //     });

        //     overlay.setMap(map);
        // });
    });

   
    </script>
    <!-- 예제 종료 -->

</body>
</html>