<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>네이버 지도 api 예제 : 기초 : 초간단 지도 생성하기, 지도 기본 예제</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<!-- 예제 시작 -->
<script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=5eidkfj0b9"></script>

<style type="text/css">

#map_v3 {
	height:600px;
	margin:0 auto;
	max-width:100%;
	width:900px;
}

</style>

<!-- 이 div 에 지도가 생성됩니다. -->
<div id="map_v3"></div>

<script>

// div 에 설정된 id 값을 이용해서 지도를 생성합니다.
new naver.maps.Map('map_v3', { // map_v3 사용

	// 지도위치 설정. 위도, 경도를 입력합니다.
	center : new naver.maps.LatLng( 37.2900533, 127.1036797 ),
	// 지도 줌 상태. 값은 1~14 이고 클수록 지도가 확대됩니다. (줌인)
	zoom : 10,
	// 일반, 위성 컨트롤 버튼 보이기
	mapTypeControl : true

});

</script>
<!-- 예제 종료 -->

</body>
</html>