<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title%></title>
</head>
    <body>
    <h1>환영합니다 </h1>
    <form action="/sign_up" method="GET">
        <input type="submit" value="회원 정보 등록">
    </form>
    <form action="/clients" method="GET">
        <input type="submit" value="전체 회원 정보 조회">
    </form>
    <form action="/zone/add" method="GET">
        <input type="submit" value="아이공간 등록">
    </form>
    <form action="/zone" method="GET">
        <input type="submit" value="아이공간 관리">
    </form>
    </body>
</html>
