<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title%></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        //아이디 유효성 검사
        $("#user_id").blur(function(){
            var clientID =  $("#user_id").val();
            console.log("clientID="+clientID);
           
            $.ajax({
               url: '/clients/idCheck?clientID='+clientID,
               type: 'get',
               success : function(res){
                   
                   console.log("res=", res);
                if (res['msg']== true) {
					// 1 : 아이디가 중복되는 문구
					$("#id_check").text("사용중인 아이디입니다 :p");
					$("#id_check").css("color", "red");
					$("#reg_submit").attr("disabled", true);
				} else  {
					$("#id_check").text("사용가능한 아이디입니다 :)");
                    $("#id_check").css("color", "blue");
                    $("#reg_submit").attr("disabled", false);	
                   	
				}

               }, error : function(){
                   console.log("실패");
               }
            });
        });

    });

     //회원등록
     function sign_up(){
            var clientID = $("#user_id").val();
            var clientName = $("#client_name").val();
            
            $.ajax({
                url: '/sign_up',
                data: { 'clientID' : clientID, 'clientName' : clientName },
                type: 'POST',
                dataType: 'json',
                success : function (res) {
                    if ( res['msg'] == true ) {
                      alert("등록되었습니다.");
                     location.reload();
                  }
                },
                error: function (xhr) {
                    alert("실패하였습니다.");
                }
            });
    }
    </script>
   
</head>
    <body>
    <h1>회원 정보 입력 </h1>
    <form  method="POST">
        clientID : <input type="number" id="user_id" name="clientID" placeholder="숫자만 입력" required><br>
        <div class="check_font" id="id_check"></div>
        clientName : <input type="text" id="client_name" name="clientName" required><br>

        <button id="reg_submit" onclick='sign_up();'> 등록</button>
    </form>

    </body>
</html>