<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title%></title>
</head>
    <body>
    <h1>아이공간 등록 </h1>
    <form action="/zone/add" method="POST">
        client ID : <input type="number" name="clientID"><br>
        zone ID : <input type="number" name="zoneID"><br>
        장소 이름 : <input type="text" name="zoneName"><br>
        <input type="submit" value="등록">
    </form>

    </body>
</html>